In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('gpa.csv')
df

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,12,12,1,0,...,1,0,1,0,0,0,0,1,0,"Boonsripaisal, Simon"
1,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,5,12,4,1,...,1,2,0,0,0,0,0,1,0,"Boonsripaisal, Simon"
2,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,0,8,7,3,...,3,2,0,2,0,0,0,0,0,"Uhall, Michael B"
3,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,8,6,2,0,...,1,1,2,1,0,0,0,0,0,"Uhall, Michael B"
4,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,5,4,3,1,...,1,1,2,1,1,0,1,1,0,"Kang, Yoonjung"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53928,2010,Summer,2010-su,STAT,410,Statistics and Probability II,5,10,2,2,...,1,0,1,3,0,0,0,2,1,"Stepanov, Alexei G"
53929,2010,Summer,2010-su,STAT,440,Statistical Data Management,4,12,8,1,...,0,0,0,0,0,0,0,0,0,"Unger, David"
53930,2010,Summer,2010-su,TAM,212,Introductory Dynamics,0,1,3,2,...,7,5,1,1,0,2,0,1,0,"Morgan, William T"
53931,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,1,2,2,1,...,0,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie"
53932,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,5,8,9,4,...,1,0,4,0,0,1,0,2,0,"Keane, Richard D"

In [8]:
grades = df.groupby("Subject").agg("sum").reset_index()
grades

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
0,AAS,360617,23290,771,2094,812,517,526,246,135,140,54,29,29,19,76,24
1,ABE,265957,44357,315,2556,800,703,902,240,127,175,46,16,43,6,51,14
2,ACCY,4553856,829676,7416,23142,15600,14839,13614,5703,2798,2155,1056,253,662,162,513,255
3,ACE,1777080,241702,3523,13421,5040,4316,6859,2610,1627,2282,770,359,623,214,557,103
4,ACES,286071,16537,889,1838,259,119,272,68,67,79,24,16,26,10,68,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,UP,578226,104655,1063,3559,2037,1241,1358,487,248,293,121,39,74,41,147,39
159,VB,8040,2489,0,212,6,6,120,1,0,40,0,0,2,0,0,0
160,VCM,74447,24157,302,1321,29,49,1036,20,18,337,1,1,41,0,1,0
161,VM,187402,56460,0,1825,8,0,5861,1,0,3405,0,0,325,0,8,10
162,YDSH,26176,3560,40,91,81,32,40,12,6,4,2,0,1,2,5,3

In [5]:
a = df.groupby(["Subject", "Number"]).agg("sum").reset_index()
a["Total"] = a["A+"] + a["A"] + a["A-"]
a

,Subject,Number,Year,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total
0,AAS,100,255897,629,1449,553,353,359,156,77,91,31,16,17,15,62,14,2631
1,AAS,105,2018,10,7,3,2,0,0,0,1,0,0,1,0,0,0,20
2,AAS,120,40228,26,136,108,93,104,49,36,32,11,6,10,1,2,5,270
3,AAS,200,2017,7,7,3,1,0,2,1,0,0,0,0,0,0,0,17
4,AAS,211,4029,3,20,12,2,4,3,2,1,0,3,0,0,2,0,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3986,VM,610,20146,0,123,0,0,614,0,0,463,0,0,49,0,0,0,123
3987,VM,611,16132,0,110,0,0,574,0,0,316,0,0,15,0,0,1,110
3988,VM,620,10079,0,221,8,0,40,1,0,2,0,0,0,0,0,1,229
3989,YDSH,220,12083,25,36,51,16,13,7,2,0,0,0,0,0,3,1,112
3990,YDSH,320,14093,15,55,30,16,27,5,4,4,2,0,1,2,2,2,100

In [6]:
a = df.groupby("Major").agg("count")
a

KeyError: 'Major'

In [ ]:
df.mean()

Several      13.096429
A Few         5.789286
Many         30.085714
A Couple      6.001786
Dozens       35.421429
Some         12.419643
Scores Of    78.790741
dtype: float64

In [ ]:
df = df[df.Several == 5]
df

KeyError: 'Several'

In [ ]:
df.Several += 6
df.mean()

Several      19.096429
A Few         5.789286
Many         30.085714
A Couple      6.001786
Dozens       35.421429
Some         12.419643
Scores Of    78.790741
dtype: float64

In [ ]:
df["Scores Of"] *= 3
df.mean()

Several       19.096429
A Few          5.789286
Many          30.085714
A Couple       6.001786
Dozens        35.421429
Some          12.419643
Scores Of    236.372222
dtype: float64

In [ ]:
df = df.append({"Some" : 1000000}, ignore_index=True)
df

    Several  A Few   Many  A Couple  Dozens       Some  Scores Of
0       5.0    5.0   10.0       4.0    12.0       15.0       25.0
1       5.0    3.0   12.0       2.0    24.0        4.0       35.0
2       5.0    4.0   15.0       2.0    30.0       10.0       50.0
3       5.0    3.0   10.0       2.0    24.0        6.0       30.0
4       4.0    3.0   20.0       2.0    36.0       12.0      200.0
5      15.0    8.0   30.0      12.0    80.0       20.0      100.0
6       5.0    3.0    7.0       6.0    20.0       10.0      100.0
7      15.0    7.0   68.0       2.0    56.0        8.0       20.0
8       3.0    5.0   20.0      10.0    50.0        5.0       80.0
9       3.0    5.0    7.0      10.0    50.0       20.0      100.0
10      7.0    4.0   25.0       2.0    24.0        4.0        2.0
11      6.0    3.0   50.0       2.0    36.0       15.0      100.0
12     50.0    5.0  100.0      15.0    30.0       20.0      500.0
13     12.0    6.0   15.0       2.0    24.0        8.0       50.0
14      7.0    4.0   20.0       2.0    24.0        5.0      100.0
15      5.0    3.0   40.0       2.0    60.0       20.0      100.0
16     15.0    6.0   80.0       4.0    32.0       30.0      120.0
17     10.0    8.0   50.0       5.0    60.0       15.0       80.0
18     30.0   15.0   40.0       8.0    60.0       20.0       80.0
19      7.0    4.0   15.0       2.0    12.0       10.0       10.0
20      4.0    5.0   20.0       2.0    36.0        8.0       50.0
21     10.0    5.0   20.0       7.0    28.0       11.0       30.0
22     15.0    5.0   30.0       6.0    70.0       20.0      100.0
23     10.0   15.0   25.0       5.0    40.0       30.0      100.0
24      9.0    5.0   20.0       4.0    36.0        6.0      200.0
25      7.0    4.0   15.0       2.0    36.0       10.0       80.0
26      5.0    3.0   20.0       2.0    12.0        5.0        0.0
27      8.0    6.0   10.0       6.0    24.0        8.0       30.0
28      7.0    3.0   30.0       7.0    10.0        7.0        NaN
29      3.0    5.0   15.0       8.0    50.0       20.0       80.0
30      7.0    3.0   15.0       4.0    35.0        5.0      100.0
31     50.0   13.0  100.0       5.0    36.0       15.0       15.0
32     30.0    3.0   20.0       2.0    24.0        5.0        0.0
33      7.0   10.0   50.0      12.0    72.0       15.0      100.0
34      9.0    6.0   13.0       5.0    24.0        8.0       30.0
35      8.0   12.0   25.0      35.0    56.0       40.0      100.0
36      6.0    3.0   10.0       2.0    24.0        8.0       30.0
37      7.0    3.0   15.0       2.0    30.0        6.0       40.0
38     10.0    4.0   15.0       3.0    80.0       12.0       37.0
39     12.0    5.0   33.0      10.0    50.0       25.0      100.0
40     10.0    3.0   15.0       2.0    24.0        7.0       40.0
41     15.0   10.0   20.0       6.0    40.0       15.0       50.0
42      6.0    3.0   13.0       8.0    14.0       10.0       30.0
43      0.4    0.2    0.8       0.1     0.6        0.5        0.7
44      3.0   14.0   22.0      15.0    32.0       20.0       40.0
45     30.0    3.0   50.0       2.0    24.0       20.0      100.0
46      5.0    3.0   10.0       2.0    24.0        4.0       40.0
47     60.0    5.0  100.0       3.0    50.0       20.0        NaN
48     40.0    4.0   20.0       6.0    23.0        8.0       70.0
49     10.0    3.0   30.0       7.0    24.0        5.0      100.0
50     20.0   10.0   50.0      12.0    36.0        4.0      200.0
51      6.0    3.0    9.0       2.0    12.0        4.0       20.0
52     15.0   10.0   30.0       8.0    21.0        7.0       30.0
53     40.0   20.0   60.0      30.0    50.0       30.0      230.0
54     15.0    6.0   60.0       5.0    36.0       10.0      100.0
55     20.0    5.0   60.0       3.0    56.0       10.0      100.0
56      NaN    NaN    NaN       NaN     NaN  1000000.0        NaN

In [ ]:
df.Some.mean()

12.419642857142858